<form action="/thanks" method="post">
    <div class="signWrapper">
        <canvas id="canvas" width="550" height="120"></canvas>
        <button id="clearBtn">Clear</button>
    </div>
    <p>^</p>
    <p>Sign here</p>
    <button type="submit" id="submitBtn">Submit</button>
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <input type="hidden" name="signature" value="bidde" id="hiddenSign" />
</form>