<form action="/thanks" method="post">
    <input type="text" name="firstName" />
    <input type="text" name="lastName" />
    <canvas width="500" height="300" id="canvas"></canvas>
    <button type="submit">Submit</button>
    <input type="hidden" name="signature" value="bidde" />
</form>