<header>
    <h1>{{petitionTitle}}</h1>
    <div class="error">{{error}}</div>
    {{#if filter}}
        <a href="/supporters">Back to all supporters</a>
    {{/if}}
    {{#if user_id}}
        <form action="/logout" method="POST">
            <input type="submit" value="Logout" />
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        </form>
    {{/if}}
</header>