<form action="/profile" method="post">
    <div>
        <label for="age">Age: </label>
        <input type="number" name="age" id="age" min="1" />
    </div>
    <div>
        <label for="city">City: </label>
        <input type="text" name="city" id="city" />
    </div>
    <div>
        <label for="homepage">Homepage: </label>
        <input type="url" name="homepage" id="homepage" />
    </div>
    <input type="submit" value="Continue" />
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
</form>