* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error {
    color: red;
    font-weight: bold;
    /* font-size: 1.3rem; */
}

header {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 2;
    background-color: darkmagenta;
    text-align: center;
}

h1 {
    margin-top: 2rem;
}

main {
    flex-grow: 4;
    /* width: 100%; */
    background-color: darksalmon;
    text-align: center;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    display: flex;
}

.input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

input {
    margin: 15px 15px 10px 15px;
}

label {
    margin-bottom: 20px;
}

.signWrapper {
    position: relative;
    max-width: min-content;
}

#canvas {
    border: 2px dotted rgb(67, 67, 67);
    margin-bottom: 5px;
    background-color: rgb(244, 244, 244);
}

p {
    margin-bottom: 5px;
}

button {
    background-color: saddlebrown;
    border: 1px solid brown;
    border-radius: 20px;
    margin: 20px;
}

#submitBtn {
    /* align-self: stretch; */
    width: 12rem;
    height: 2rem;
}

#clearBtn {
    position: absolute;
    top: 0;
    right: 0;
}

li {
    list-style: none;
}

footer {
    flex-grow: 1;
    flex-shrink: 2;

    width: 100%;
    background-color: rgb(140, 130, 205);
}
